#tab-list {
  width: 380px;
}

.tab {
  border-left: 3px solid #FFF;
  padding: 3px 5px;
  margin-bottom: 2px;
  border-radius: 0 3px 3px 0;
  font-family: sans-serif;
}

.tab a {
  display: inline-block;
  white-space: nowrap;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #000;
  font-size: 0.8em;
  line-height: 1.5em;
}

.tab .save-button {
  margin-right: 0.5em;
}

.tab .tags {
  display: none;
  margin-bottom: 3px;
  font-size: 0.6em;
}

.tab .tags input {
  border: 1px solid #999;
  margin: 0 0 0 1em;
}

.tab .tags input:focus {
  border: 1px solid #555;
}

.tab button {
  vertical-align: top;
}

.tab.selected {
  border-left: 3px solid #03F;
}

.tab.to-save {
  background-color: #DEF;
}

.tab.to-save .tags {
  display: block;
}

.tab.to-remove {
  background-color: #FEE;
}

#done {
  margin-top: 1em;
}

#snooze {
  display: none;
  font-family: sans-serif;
  font-size: 0.8em;
  margin: 1em 0;
}